{% extends "network/layout.html" %}
{% load static %}
{% block body %}

<section class="content" id="content-home">
    <section id="post-nav">
        <div class="slider"></div>
        <nav id="post-nav1"><button>All Posts</button></nav>
        <nav id="post-nav2"><button>Following</button></nav>
    </section>

    {% if user.is_authenticated %}
    <section id="create-post">
            <form id="create-posts" action="#" method="POST">
                {% csrf_token %}
                <div>
                    <section class="user-image"></section>
                    <textarea id="post-textarea" placeholder="What's happening....?" required></textarea>
                </div>
                <div class="post-btn">
                    <button >Post</button>
                </div>
            </form>
    </section>
    {% endif %}


    <section class="loader">
        <div id="loading"></div>
        <!-- <img src="{% static 'network/assets/loading.svg' %}" alt="loader"> -->
    </section>


    <section class="nav" id="post-view-all">

    </section>

    <section class="nav" id="post-view-following">

    </section>
</section>



<section class="content content-post-comment" id="post-comment-view">

    <section class="post-heading">
        <button class="postview-back">
            <?xml version="1.0" encoding="UTF-8"?>
<svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="24" height="24"><path d="M.88,14.09,4.75,18a1,1,0,0,0,1.42,0h0a1,1,0,0,0,0-1.42L2.61,13H23a1,1,0,0,0,1-1h0a1,1,0,0,0-1-1H2.55L6.17,7.38A1,1,0,0,0,6.17,6h0A1,1,0,0,0,4.75,6L.88,9.85A3,3,0,0,0,.88,14.09Z" fill="white" stroke="white"/></svg>

        </button>
        <p>Post</p>
    </section>
    <section class="post-to-be-commented">
        <section class="post-visible-comment">

            <div>
                <section class="post-user">

                    <section class="user-image"></section>
                    <section>
                        <p class="username">Akash Yadav
                        </p>
                        <p class="user-name">akashy7977</p>
                    </section>
                </section>
                <section class="follow">
                    <button class="follow-btn">Follow</button>
                </section>
            </div>

            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Autem deleniti quae odit temporibus inventore
                 quasi sit ipsam, doloribus dignissimos iusto hic qui,
                 voluptatum, eum ullam at praesentium delectus. Quod, quo.
                </div>

            <div>
                <p class="user-name">12:12:45  • <span> 24 April,2024</span>
                </p>
            </div>

            <div>
                <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                    <path fill="none" d="M0 0h24v24H0z"/>
                    <path d="M12 21.35l-.874-.835C5.798 16.182 2 12.015 2 8.5 2 5.42 4.42 3 7.5 3 9.642 3 11.486 4.592 12 6.25 12.514 4.591 14.358 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.515-3.798 7.682-8.126 12.015L12 21.35z" fill="rgb(249, 24, 128)"/>
                  </svg> 20 Likes</button>
                  <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="none">
                    <path fill="none" d="M0 0h24v24H0z"/>
                    <path d="M20 2H4a2 2 0 0 0-2 2v16l4-4h14a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm-4 10H8v-2h8v2zm4-5H4V5h16v2z" stroke="rgb(85,85,85)" stroke-width="2"/>
        </svg> 2 comments</button>
            </div>

        </section>
    </section>

    <section class="comment-textarea">
        <form action="">
            <section class="user-image"></section>
            <textarea id="comment-text-content" type="text" placeholder="Post your reply"></textarea>
            <button>Reply</button>
        </form>
    </section>


<section class="comment-view">
        <section class="post-visible">

            <div>
                <section class="post-user">

                    <section class="user-image"></section>
                    <section>
                        <p class="username">Akash Yadav  • <span class="user-name">6hours ago</span>
                        </p>
                        <p class="user-name">akashy7977</p>
                    </section>
                </section>

            </div>

            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Autem deleniti quae odit temporibus inventore
                 quasi sit ipsam, doloribus dignissimos iusto hic qui,
                 voluptatum, eum ullam at praesentium delectus. Quod, quo.
                </div>

            <div>

                <button class="comment-like">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M12 21.35l-.874-.835C5.798 16.182 2 12.015 2 8.5 2 5.42 4.42 3 7.5 3 9.642 3 11.486 4.592 12 6.25 12.514 4.591 14.358 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.515-3.798 7.682-8.126 12.015L12 21.35z" fill="rgb(249, 24, 128)"/>
                      </svg>
                      6 Likes</button>
            </div>

        </section>

        <section class="post-visible">

            <div>
                <section class="post-user">

                    <section class="user-image"></section>
                    <section>
                        <p class="username">Akash Yadav  • <span class="user-name">6hours ago</span>
                        </p>
                        <p class="user-name">akashy7977</p>
                    </section>
                </section>

            </div>

            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Autem deleniti quae odit temporibus inventore
                 quasi sit ipsam, doloribus dignissimos iusto hic qui,
                 voluptatum, eum ullam at praesentium delectus. Quod, quo.
                </div>

            <div>

                <button class="comment-like">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M12 21.35l-.874-.835C5.798 16.182 2 12.015 2 8.5 2 5.42 4.42 3 7.5 3 9.642 3 11.486 4.592 12 6.25 12.514 4.591 14.358 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.515-3.798 7.682-8.126 12.015L12 21.35z" fill="rgb(249, 24, 128)"/>
                      </svg>
                      6 Likes</button>
            </div>

        </section>
    </section>

</section>


<script src="{% static 'network/index.js' %}"></script>
<script src="{% static 'network/post.js' %}"></script>




    <!-- <form action="{% url 'post' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="content">
        <button>submit</button>
    </form>
    {{error}}


    {% for post in Post %}
    <a href="{% url 'postview' post.id %}">Visit Post</a>
        {% if post.edited %}
            <br>Edited<br>
        {% endif%}

        <a href="{% url 'follow' post.id %}">
            Follow {{ post.followed }}

        </a>

        {{ post.id }}<br>
        <a href="{% url 'userInfo' post.user.id %}">Visit User</a><br>
        {{ post.user }}<br>
        {{ post.content }}<br>
        {{ post.created }}<br>

        <a href="{% url 'edit' post.id %}">
            Edit
        </a>

        <a href="{% url 'like' post.id %}">
            Like {{ post.liked }}
            {{ post.like_count }}
        </a>
        <p>------------------------</p>
    {% endfor %} -->
{% endblock %}
