{% extends "network/layout.html" %}
{% load static %}
{% block body %}

<section class="content" id="content-home">
    <section id="post-nav">
        <div class="slider"></div>
        <nav id="post-nav1"><button>All Posts</button></nav>
        <nav id="post-nav2"><button>Following</button></nav>
    </section>

    {% if user.is_authenticated %}
    <section id="create-post">
            <form id="create-posts" action="#" method="POST">
                {% csrf_token %}
                <div>
                    <section class="user-image"></section>
                    <textarea id="post-textarea" placeholder="What's happening....?" required></textarea>
                </div>
                <div class="post-btn">
                    <button >Post</button>
                </div>
            </form>
    </section>
    {% endif %}


    <section class="loader">
        <div id="loading"></div>
        <!-- <img src="{% static 'network/assets/loading.svg' %}" alt="loader"> -->
    </section>


    <section class="nav" id="post-view-all">

    </section>


    <section class="nav" id="post-view-following">

    </section>
</section>



<section class="content content-post-comment" id="post-comment-view">
</section>


<script type="module" src="{% static 'network/index.js' %}"></script>
<!-- <script type="module" src="{% static 'network/postview.js' %}"></script> -->




    <!-- <form action="{% url 'post' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="content">
        <button>submit</button>
    </form>
    {{error}}


    {% for post in Post %}
    <a href="{% url 'postview' post.id %}">Visit Post</a>
        {% if post.edited %}
            <br>Edited<br>
        {% endif%}

        <a href="{% url 'follow' post.id %}">
            Follow {{ post.followed }}

        </a>

        {{ post.id }}<br>
        <a href="{% url 'userInfo' post.user.id %}">Visit User</a><br>
        {{ post.user }}<br>
        {{ post.content }}<br>
        {{ post.created }}<br>

        <a href="{% url 'edit' post.id %}">
            Edit
        </a>

        <a href="{% url 'like' post.id %}">
            Like {{ post.liked }}
            {{ post.like_count }}
        </a>
        <p>------------------------</p>
    {% endfor %} -->
{% endblock %}
