{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        
    </head>
    <body>

        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav> -->
        
        


        

        <section class="ui">
            <section class="navigation">
            
                <section>
                    <h1>Network</h1>
                    <nav>
                        <button><img src="{% static 'network/assets/home.svg' %}" > Home</button>
                        {% if user.is_authenticated %}
                        <button><img src="{% static 'network/assets/document.svg' %}" > Posts</button>
                        <button><img src="{% static 'network/assets/user.svg' %}" > Profile</button>
                        <button><img src="{% static 'network/assets/age-alt.svg' %}" > Followers</button>
                        <button><img src="{% static 'network/assets/assign.svg' %}" > Following</button>
                        <button><img src="{% static 'network/assets/heart(1).svg' %}" > Post Liked</button>
                        {% endif %}
                    </nav>
                    {% if user.is_authenticated %}
                    <button>Post</button>
                    {% endif %}
                </section>
            
                <section class="nav-logout">
                    {% if user.is_authenticated %}
                    <section class="logout">
            
                        <section class="user">
                            <section class="user-image"></section>
                            <article class="userinfo">
                                <p class="username">{{ user.username }}</p>
                                <p class="user-name">{{ user.email }}</p>
                            </article>
                        </section>
            
                        <section>
                            <a class="logout-menu" href="{% url 'logout' %}"><img src="{% static 'network/assets/sign-out-alt.svg' %}" alt=""></a>
                        </section>
            
                    </section>   
                    {% else %}
                    <section class="logout">
                    <section>
                        <a class="logout-menu" href="{% url 'login' %}">Log-in</a>
                    </section>
                    <section>
                        <a class="logout-menu" href="{% url 'register' %}">Register</a>
                    </section>
                    </section>
                    {% endif %}
                </section>
            
            </section>
            {% block body %}
            {% endblock %}
            <section class="recommendation">
                <section id="recommended-users">
                    <h1>New On Network</h1>
            
                </section>
            </section>
        </section>


        <script src="{% static 'network/layout.js' %}"></script>
    </body>
</html>